html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background: $dark;
  font-family: Gotham;
}

html {
  // scroll-behavior: smooth;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@import "./fonts";
@import "./components/index";
