// colors
$yellow: #FCC145;
$coral: #FC7A57;
$green: #ADF7B6;
$blue: #A0CED9;
$text: #F8F7F7;
$caption: #D2D2D2;
$bg: #161616;
$dark: #090909;
$bg-gradient: linear-gradient(180deg, $dark 0%, $bg 100%);